http://insideairbnb.com/get-the-data.html  
https://www.zillow.com/research/data/

In [32]:
import pandas as pd

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', 1000)

## Import AirBNB

In [33]:
# http://insideairbnb.com/get-the-data.html
airbnb = pd.read_csv('../data/listings.csv')

In [34]:
airbnb.head(20)

        id                                               name  host_id       host_name  neighbourhood_group neighbourhood  latitude  longitude        room_type  price  minimum_nights  number_of_reviews last_review  reviews_per_month  calculated_host_listings_count  availability_365
0     6422                                    Nashville Charm    12172         Michele                  NaN    District 6  36.17315  -86.73581     Private room     40              30                674  2020-03-03               4.69                               1               267
1    25613     Room in Historic East Nashville Craftsman Home    95811            Nell                  NaN    District 6  36.17826  -86.74162     Private room     75               2                510  2020-03-14               3.87                               1                63
2   136015                  Apart. on the Ridge near Opryland   666322  Dave And Peggy                  NaN   District 15  36.19464  -86.67195  Entire home/apt    103              30                 50  2020-08-04               0.43                               2               190
3   258817            ButterflyRoom-private bath- open Jan 26    22296           Diana                  NaN   District 12  36.16249  -86.58988     Private room     27              30                 96  2019-12-14               0.86                               7               364
4   289242        MorningstarHouse, monthly room- open Feb  2    22296           Diana                  NaN   District 12  36.16102  -86.59207     Private room     24              30                 76  2019-01-12               0.68                               7               364
5   319705                 SuperSweetSTUDIO, jacuzzi, monthly    22296           Diana                  NaN   District 12  36.16296  -86.59187     Private room     31              30                 48  2020-07-03               0.44                               7               364
6   340081  MorningstarHouse, monthly single room- open soon!    22296           Diana                  NaN   District 12  36.16128  -86.58986     Private room     24              30                 77  2020-08-31               0.70                               7               365
7   395889      Contemporary-Mod Paradise w/ Private Bathroom  1547584            Kurt                  NaN    District 6  36.16492  -86.75010     Private room     69               1                233  2021-02-14               2.20                               1               331
8   421290  Private Red Suite/King Bed/Wetbar/Bath/5 min t...  1684051            Rick                  NaN   District 19  36.17230  -86.79250  Entire home/apt     82               2                819  2021-02-13               7.72                               6                66
9   430052  Private Vaulted Suite! King,Wet Bar,Bath/5 min...  1684051            Rick                  NaN   District 19  36.17230  -86.79250  Entire home/apt     79               2                810  2021-02-15               7.65                               6                58
10  431258  2 Bdrm, 2.5 Baths, DT 5 mins! Great Hottub & P...  1684051            Rick                  NaN   District 19  36.17580  -86.79950  Entire home/apt    200               2                416  2020-03-18               3.91                               6               280
11  491172                   French Flair #1 : The Paris room  2427763    Dody &Rodney                  NaN    District 5  36.18756  -86.74721     Private room     95               1                348  2020-03-15               3.27                               3               117
12  501570                    French Flair #2: The Loire room  2427763    Dody &Rodney                  NaN    District 6  36.19141  -86.74371     Private room     95               1                267  2020-03-15               2.52                               3               118
13  513664                   Cozy and Convenient in Donelson!  2530554            Lori                  NaN   District 14  36.15478  -86.64912     Private room     90               2                 27  2015-06-29               0.28                               1               363
14  632636  Admire the Skyline from the Rooftop Terrace at...  1684051            Rick                  NaN   District 19  36.17230  -86.79250  Entire home/apt    104               2                306  2021-02-07               2.95                               6                58
15  645985                                     Serenity Haven  1515903           Karen                  NaN    District 6  36.18565  -86.71511     Private room     29              30                 47  2019-10-01               0.46                               2               200
16  648088      Heart of Music Row  Private Suite (600 sq FT)  3250769           Robyn                  NaN   District 19  36.14470  -86.79014     Private room    125               2                379  2020-10-19               3.69                               1               319
17  674159      A Clean, Quiet Suite in a Great Neighborhood!  3422455            John                  NaN    District 6  36.17242  -86.73742  Entire home/apt     95               2                263  2021-02-15               2.65                               1               362
18  681880                   Luxurious Rustic Cozy Guesthouse  3471162         Tiffany                  NaN    District 7  36.21628  -86.70935  Entire home/apt     89               2                560  2020-07-05               5.49                               1                32
19  747429                             Downtown Great Getaway  2066370            Lisa                  NaN   District 21  36.18276  -86.80296  Entire home/apt    150               2                 58  2020-11-08               0.58                               2                79

In [35]:
# http://insideairbnb.com/get-the-data.html
listings_detail = pd.read_csv('../data/listings.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [36]:
listings_detail[listings_detail['id']==431258]

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
10,431258,https://www.airbnb.com/rooms/431258,20210219004252,2021-02-20,"2 Bdrm, 2.5 Baths, DT 5 mins! Great Hottub & P...","Free Parking! Entire home - 2 Bdrm/2.5 baths, ...",Great neighborhood! 15 min walk over to the Ge...,https://a0.muscache.com/pictures/531a4e61-125e...,1684051,https://www.airbnb.com/users/show/1684051,Rick,2012-02-01,"Nashville, Tennessee, United States",I know your not coming to Nashville to visit m...,within an hour,100%,99%,t,https://a0.muscache.com/im/pictures/user/87324...,https://a0.muscache.com/im/pictures/user/87324...,NaN,7.0,7.0,"['email', 'phone', 'reviews', 'sent_id']",t,t,"Nashville, Tennessee, United States",District 19,NaN,36.1758,-86.7995,Entire house,Entire home/apt,4,NaN,2.5 baths,2.0,2.0,"[""Hair dryer"", ""Bathtub"", ""Carbon monoxide ala...",$200.00,2,30,2,4,1125,1125,2.3,1125.0,NaN,t,0,0,16,280,2021-02-20,416,3,0,2012-05-28,2020-03-18,98.0,10.0,10.0,10.0,10.0,9.0,10.0,NaN,t,6,6,0,0,3.91

In [37]:
listings_detail.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description', 'neighborhood_overview', 'picture_url', 'host_id', 'host_url', 'host_name', 'host_since', 'host_location', 'host_about', 'host_response_time', 'host_response_rate', 'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url', 'host_picture_url', 'host_neighbourhood', 'host_listings_count', 'host_total_listings_count', 'host_verifications', 'host_has_profile_pic', 'host_identity_verified', 'neighbourhood', 'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude', 'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights', 'minimum_minimum_nights', 'maximum_minimum_nights', 'minimum_maximum_nights', 'maximum_maximum_nights', 'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability', 'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews', 'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review', 'last_review', 'review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 'review_scores_value', 'license', 'instant_bookable', 'calculated_host_listings_count', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [38]:
listings_ratings = listings_detail[['review_scores_rating', 'review_scores_accuracy', 'review_scores_cleanliness', 
                                    'review_scores_checkin', 'review_scores_communication', 'review_scores_location', 
                                    'review_scores_value']]

In [39]:
listings_ratings.describe()

       review_scores_rating  review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  review_scores_communication  review_scores_location  review_scores_value
count           5189.000000             5124.000000                5125.000000            5123.000000                  5125.000000             5123.000000          5122.000000
mean              96.312777                9.807767                   9.682537               9.862581                     9.849756                9.729651             9.660679
std                6.777374                0.653770                   0.722463               0.556678                     0.602543                0.652776             0.740528
min               20.000000                2.000000                   2.000000               2.000000                     2.000000                2.000000             2.000000
25%               96.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000             9.000000
50%               98.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000            10.000000
75%              100.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000            10.000000
max              100.000000               10.000000                  10.000000              10.000000                    10.000000               10.000000            10.000000

In [40]:
listings_ratings['review_scores_location'].value_counts()

10.0    4063
9.0      862
8.0      136
7.0       28
6.0       23
2.0        6
5.0        3
4.0        2
Name: review_scores_location, dtype: int64

In [41]:
# http://insideairbnb.com/get-the-data.html
reviews_summary = pd.read_csv('../data/reviews.csv')

In [42]:
reviews_summary

        listing_id        date
0             6422  2009-04-30
1             6422  2009-06-11
2             6422  2009-06-17
3             6422  2009-07-18
4             6422  2009-09-29
...            ...         ...
332595    48095829  2021-02-16
332596    48095943  2021-02-16
332597    48108210  2021-02-14
332598    48130048  2021-02-15
332599    48136504  2021-02-14

[332600 rows x 2 columns]

In [43]:
reviews = pd.read_csv('../data/reviews.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [44]:
reviews

        listing_id         id        date  reviewer_id reviewer_name                                           comments
0             6422       1927  2009-04-30        14100       Melissa  I can't say enough about how wonderful it was ...
1             6422       3867  2009-06-11        17413        Raquel  Michelle and Collier's home is wonderful! They...
2             6422       4159  2009-06-17        20253        Ulrike  I spent one night at Michele's home and felt j...
3             6422       5724  2009-07-18        22544          Phil  Michele and Collier are two of the loveliest p...
4             6422      11891  2009-09-29        33409        Claire  We had the most lovely time staying with Miche...
...            ...        ...         ...          ...           ...                                                ...
332595    48095829  731963419  2021-02-16    376650335     Nathaniel                                          Very cute
332596    48095943  731999187  2021-02-16     43224485         Brody  The property is not safe. Not only did 2 of th...
332597    48108210  731238971  2021-02-14    125188375        Rachel  Host was extremely sweet and replied almost in...
332598    48130048  731602541  2021-02-15    383674106          Gage                 good spot, clean rooms, kind staff
332599    48136504  731211414  2021-02-14    368441034          Nick  House was great as advertised. Tony was super ...

[332600 rows x 6 columns]

In [45]:
reviews['comments'][0]

"I can't say enough about how wonderful it was to stay here. It was the highlight of our stay in Nashville! Michele and her husband Collier felt like parents to my sister and I. They were so caring and helpful, giving us the best suggestions about places to eat and hang out in Nashville, and just being such warm, wonderful people that we had as much fun inside the house as we did going around Nashville! Also, the house was absolutely beautiful, and our room had a giant window looking out onto their backyard, which leads directly into a gorgeous park that we walked through every day. We felt so relaxed and happy there, it felt like home. We didn't want to leave!"

In [46]:
calendar = pd.read_csv('../data/calendar.csv.gz', compression='gzip',
                   error_bad_lines=False)

In [47]:
calendar

         listing_id        date available   price adjusted_price  minimum_nights  maximum_nights
0              6422  2021-02-20         f  $40.00         $40.00            30.0           365.0
1              6422  2021-02-21         f  $40.00         $40.00            30.0           365.0
2              6422  2021-02-22         f  $40.00         $40.00            30.0           365.0
3              6422  2021-02-23         f  $40.00         $40.00            30.0           365.0
4              6422  2021-02-24         f  $40.00         $40.00            30.0           365.0
...             ...         ...       ...     ...            ...             ...             ...
2242777    48107192  2022-02-16         t  $32.00         $32.00            90.0           365.0
2242778    48107192  2022-02-17         t  $32.00         $32.00            90.0           365.0
2242779    48107192  2022-02-18         t  $32.00         $32.00            90.0           365.0
2242780    48107192  2022-02-19         t  $32.00         $32.00            90.0           365.0
2242781    48107192  2022-02-20         t  $32.00         $32.00            90.0           365.0

[2242782 rows x 7 columns]

## Import Zillow

In [48]:
# https://www.zillow.com/research/data/
zillow_home = pd.read_csv('../data/Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')

In [24]:
zillow_nashville_homes = zillow_home[zillow_home['City']=='Nashville']

In [25]:
zillow_nashville_homes[zillow_nashville_homes['RegionName']==37211]

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,1996-09-30,1996-10-31,1996-11-30,1996-12-31,1997-01-31,1997-02-28,1997-03-31,1997-04-30,1997-05-31,1997-06-30,1997-07-31,1997-08-31,1997-09-30,1997-10-31,1997-11-30,1997-12-31,1998-01-31,1998-02-28,1998-03-31,1998-04-30,1998-05-31,1998-06-30,1998-07-31,1998-08-31,1998-09-30,1998-10-31,1998-11-30,1998-12-31,1999-01-31,1999-02-28,1999-03-31,1999-04-30,1999-05-31,1999-06-30,1999-07-31,1999-08-31,1999-09-30,1999-10-31,1999-11-30,1999-12-31,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,2000-11-30,2000-12-31,2001-01-31,2001-02-28,2001-03-31,2001-04-30,2001-05-31,2001-06-30,2001-07-31,2001-08-31,2001-09-30,2001-10-31,2001-11-30,2001-12-31,2002-01-31,2002-02-28,2002-03-31,2002-04-30,2002-05-31,2002-06-30,2002-07-31,2002-08-31,2002-09-30,2002-10-31,2002-11-30,2002-12-31,2003-01-31,2003-02-28,2003-03-31,2003-04-30,2003-05-31,2003-06-30,2003-07-31,2003-08-31,2003-09-30,2003-10-31,2003-11-30,2003-12-31,2004-01-31,2004-02-29,2004-03-31,2004-04-30,2004-05-31,2004-06-30,2004-07-31,2004-08-31,2004-09-30,2004-10-31,2004-11-30,2004-12-31,2005-01-31,2005-02-28,2005-03-31,2005-04-30,2005-05-31,2005-06-30,2005-07-31,2005-08-31,2005-09-30,2005-10-31,2005-11-30,2005-12-31,2006-01-31,2006-02-28,2006-03-31,2006-04-30,2006-05-31,2006-06-30,2006-07-31,2006-08-31,2006-09-30,2006-10-31,2006-11-30,2006-12-31,2007-01-31,2007-02-28,2007-03-31,2007-04-30,2007-05-31,2007-06-30,2007-07-31,2007-08-31,2007-09-30,2007-10-31,2007-11-30,2007-12-31,2008-01-31,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,2008-09-30,2008-10-31,2008-11-30,2008-12-31,2009-01-31,2009-02-28,2009-03-31,2009-04-30,2009-05-31,2009-06-30,2009-07-31,2009-08-31,2009-09-30,2009-10-31,2009-11-30,2009-12-31,2010-01-31,2010-02-28,2010-03-31,2010-04-30,2010-05-31,2010-06-30,2010-07-31,2010-08-31,2010-09-30,2010-10-31,2010-11-30,2010-12-31,2011-01-31,2011-02-28,2011-03-31,2011-04-30,2011-05-31,2011-06-30,2011-07-31,2011-08-31,2011-09-30,2011-10-31,2011-11-30,2011-12-31,2012-01-31,2012-02-29,2012-03-31,2012-04-30,2012-05-31,2012-06-30,2012-07-31,2012-08-31,2012-09-30,2012-10-31,2012-11-30,2012-12-31,2013-01-31,2013-02-28,2013-03-31,2013-04-30,2013-05-31,2013-06-30,2013-07-31,2013-08-31,2013-09-30,2013-10-31,2013-11-30,2013-12-31,2014-01-31,2014-02-28,2014-03-31,2014-04-30,2014-05-31,2014-06-30,2014-07-31,2014-08-31,2014-09-30,2014-10-31,2014-11-30,2014-12-31,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,2015-06-30,2015-07-31,2015-08-31,2015-09-30,2015-10-31,2015-11-30,2015-12-31,2016-01-31,2016-02-29,2016-03-31,2016-04-30,2016-05-31,2016-06-30,2016-07-31,2016-08-31,2016-09-30,2016-10-31,2016-11-30,2016-12-31,2017-01-31,2017-02-28,2017-03-31,2017-04-30,2017-05-31,2017-06-30,2017-07-31,2017-08-31,2017-09-30,2017-10-31,2017-11-30,2017-12-31,2018-01-31,2018-02-28,2018-03-31,2018-04-30,2018-05-31,2018-06-30,2018-07-31,2018-08-31,2018-09-30,2018-10-31,2018-11-30,2018-12-31,2019-01-31,2019-02-28,2019-03-31,2019-04-30,2019-05-31,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31,2020-09-30,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30
23,74242,24,37211,Zip,TN,TN,Nashville,Nashville-Davidson--Murfreesboro--Franklin,Davidson County,107439.0,107806.0,108175.0,108938.0,109683.0,110363.0,111096.0,111816.0,112614.0,113257.0,114088.0,114824.0,115561.0,116160.0,116880.0,117606.0,118289.0,118926.0,119535.0,120077.0,120447.0,120955.0,121307.0,121807.0,122400.0,123120.0,123635.0,123943.0,124306.0,124900.0,125308.0,125643.0,126008.0,126672.0,127082.0,127388.0,127252.0,127325.0,127411.0,127669.0,127960.0,128143.0,128428.0,129141.0,129858.0,130027.0,130214.0,130484.0,131358.0,131822.0,132218.0,132647.0,133076.0,133371.0,133750.0,133945.0,134366.0,134837.0,135285.0,135602.0,135673.0,136062.0,136572.0,137109.0,137441.0,137754.0,137893.0,137993.0,137974.0,138178.0,138597.0,139152.0,139724.0,140107.0,140345.0,140501.0,140601.0,140790.0,141001.0,141406.0,141842.0,142218.0,142464.0,142602.0,142715.0,142862.0,143120.0,143258.0,143768.0,144383.0,145219.0,145749.0,146083.0,146339.0,146435.0,146745.0,147066.0,147566.0,147923.0,148565.0,149041.0,149195.0,148947.0,148833.0,148864.0,149387.0,150293.0,151279.0,152326.0,153271.0,154237.0,154958.0,155530.0,156448.0,157815.0,159271.0,161073.0,162210.0,163180.0,163647.0,164196.0,164898.0,165707.0,166463.0,167310.0,168344.0,169318.0,170163.0,170770.0,171825.0,172793.0,173757.0,174239.0,174490.0,174882.0,175347.0,176088.0,176556.0,177364.0,178005.0,178200.0,177484.0,176868.0,176760.0,176698.0,176459.0,176148.0,176584.0,176691.0,176235.0,175001.0,173702.0,172707.0,172379.0,171691.0,170784.0,170076.0,169797.0,169133.0,167588.0,166241.0,165692.0,165266.0,164975.0,164533.0,164385.0,164370.0,164269.0,164499.0,164313.0,164150.0,163748.0,163172.0,162436.0,161809.0,161418.0,160967.0,160014.0,159103.0,158110.0,156668.0,155384.0,154306.0,153868.0,153647.0,153380.0,153072.0,152493.0,152063.0,151841.0,151565.0,151419.0,151318.0,151511.0,152112.0,152752.0,153128.0,153218.0,153391.0,153788.0,154362.0,154936.0,155649.0,156428.0,157487.0,158539.0,159376.0,159924.0,160353.0,161028.0,161841.0,162764.0,163460.0,164168.0,165028.0,165902.0,167032.0,167826.0,168588.0,169417.0,170524.0,171810.0,172717.0,173418.0,174056.0,175051.0,175749.0,176949.0,177817.0,178998.0,179912.0,181125.0,182999.0,184940.0,187052.0,189229.0,191954.0,194279.0,197126.0,199025.0,201217.0,203536.0,206247.0,208577.0,210059.0,211356.0,213493.0,215812.0,217983.0,220500.0,222528.0,225446.0,227420.0,229300.0,231186.0,233935.0,237143.0,240381.0,242799.0,244890.0,246863.0,248637.0,251038.0,253092.0,255712.0,257713.0,259613.0,260759.0,261579.0,262293.0,263395.0,264914.0,266260.0,267352.0,267739.0,267825.0,268384.0,269259.0,269925.0,270034.0,270409.0,271329.0,272213.0,272890.0,273320.0,274097.0,275179.0,275905.0,276935.0,278169.0,280267.0,282088.0,283890.0,285545.0,287500.0,289617.0,292213.0,294874.0,297740.0,301319.0,304542.0,307827.0,310826.0,314794.0

In [50]:
# https://www.zillow.com/research/data/
zillow_rentals = pd.read_csv('../data/Zip_ZORI_AllHomesPlusMultifamily_SSA.csv')

In [55]:
zillow_rentals[zillow_rentals['MsaName']=='Nashville, TN'].head()

     RegionID  RegionName  SizeRank        MsaName  2014-01  2014-02  2014-03  2014-04  2014-05  2014-06  2014-07  2014-08  2014-09  2014-10  2014-11  2014-12  2015-01  2015-02  2015-03  2015-04  2015-05  2015-06  2015-07  2015-08  2015-09  2015-10  2015-11  2015-12  2016-01  2016-02  2016-03  2016-04  2016-05  2016-06  2016-07  2016-08  2016-09  2016-10  2016-11  2016-12  2017-01  2017-02  2017-03  2017-04  2017-05  2017-06  2017-07  2017-08  2017-09  2017-10  2017-11  2017-12  2018-01  2018-02  2018-03  2018-04  2018-05  2018-06  2018-07  2018-08  2018-09  2018-10  2018-11  2018-12  2019-01  2019-02  2019-03  2019-04  2019-05  2019-06  2019-07  2019-08  2019-09  2019-10  2019-11  2019-12  2020-01  2020-02  2020-03  2020-04  2020-05  2020-06  2020-07  2020-08  2020-09  2020-10  2020-11  2020-12  2021-01  2021-02  2021-03  2021-04
14      74101       37013        17  Nashville, TN   1172.0   1186.0   1201.0   1216.0   1230.0   1245.0   1259.0   1273.0   1287.0   1301.0   1312.0   1324.0   1335.0   1343.0   1351.0   1359.0   1366.0   1374.0   1381.0   1388.0   1396.0   1403.0   1412.0   1420.0   1428.0   1435.0   1442.0   1449.0   1455.0   1461.0   1467.0   1473.0   1479.0   1484.0   1489.0   1494.0   1499.0   1503.0   1507.0   1511.0   1516.0   1520.0   1524.0   1529.0   1535.0   1540.0   1545.0   1550.0   1555.0   1558.0   1562.0   1565.0   1568.0   1571.0   1574.0   1578.0   1582.0   1586.0   1591.0   1595.0   1599.0   1605.0   1611.0   1617.0   1622.0   1627.0   1632.0   1636.0   1639.0   1642.0   1647.0   1651.0   1656.0   1661.0   1666.0   1670.0   1672.0   1675.0   1677.0   1679.0   1681.0   1684.0   1686.0   1688.0   1690.0   1692.0   1694.0   1695.0
20      74242       37211        25  Nashville, TN   1005.0   1021.0   1036.0   1052.0   1067.0   1082.0   1097.0   1111.0   1126.0   1141.0   1153.0   1166.0   1179.0   1188.0   1198.0   1208.0   1216.0   1224.0   1232.0   1239.0   1246.0   1253.0   1259.0   1265.0   1270.0   1275.0   1280.0   1284.0   1288.0   1291.0   1295.0   1297.0   1299.0   1302.0   1305.0   1308.0   1311.0   1313.0   1316.0   1319.0   1321.0   1324.0   1326.0   1329.0   1332.0   1335.0   1337.0   1339.0   1341.0   1342.0   1344.0   1345.0   1346.0   1346.0   1347.0   1349.0   1351.0   1352.0   1356.0   1359.0   1363.0   1367.0   1372.0   1376.0   1381.0   1386.0   1391.0   1395.0   1398.0   1402.0   1402.0   1403.0   1403.0   1403.0   1403.0   1403.0   1404.0   1406.0   1407.0   1410.0   1412.0   1415.0   1418.0   1421.0   1424.0   1428.0   1431.0   1434.0
97      74156       37075       122  Nashville, TN   1030.0   1034.0   1038.0   1042.0   1046.0   1051.0   1055.0   1060.0   1064.0   1069.0   1077.0   1085.0   1092.0   1101.0   1110.0   1119.0   1126.0   1132.0   1139.0   1145.0   1150.0   1156.0   1160.0   1164.0   1168.0   1171.0   1173.0   1176.0   1179.0   1181.0   1184.0   1186.0   1188.0   1190.0   1192.0   1194.0   1196.0   1199.0   1202.0   1205.0   1210.0   1214.0   1219.0   1223.0   1228.0   1232.0   1236.0   1240.0   1243.0   1247.0   1250.0   1253.0   1256.0   1259.0   1262.0   1266.0   1270.0   1275.0   1279.0   1284.0   1288.0   1292.0   1296.0   1300.0   1304.0   1308.0   1312.0   1316.0   1319.0   1323.0   1325.0   1327.0   1328.0   1331.0   1333.0   1336.0   1340.0   1345.0   1350.0   1358.0   1366.0   1374.0   1383.0   1391.0   1400.0   1409.0   1419.0   1428.0
188     74185       37128       256  Nashville, TN   1098.0   1108.0   1117.0   1126.0   1135.0   1144.0   1153.0   1162.0   1171.0   1180.0   1189.0   1198.0   1207.0   1213.0   1219.0   1225.0   1229.0   1233.0   1237.0   1242.0   1246.0   1251.0   1257.0   1262.0   1268.0   1274.0   1281.0   1287.0   1292.0   1297.0   1303.0   1306.0   1310.0   1314.0   1317.0   1321.0   1324.0   1327.0   1331.0   1335.0   1338.0   1342.0   1346.0   1349.0   1353.0   1356.0   1360.0   1365.0   1369.0   1373.0   1378.0   1382.0   1387.0   1392.0   1397.0   1402.0   1407.0   1412.0   1416.0   1420.0   1424.0   1427.0   1430.0   1433.0   1436.0   1440.0   1443.0   1447.0   1450.0   1454.0   1458.0   1462.0   1466.0   1471.0   1476.0   1481.0   1487.0   1493.0   1499.0   1507.0   1514.0   1522.0   1529.0   1537.0   1545.0   1552.0   1560.0   1568.0
196     74187       37130       266  Nashville, TN    910.0    915.0    920.0    925.0    930.0    935.0    940.0    945.0    949.0    954.0    958.0    962.0    966.0    972.0    977.0    982.0    988.0    994.0   1000.0   1008.0   1015.0   1023.0   1030.0   1038.0   1046.0   1051.0   1056.0   1061.0   1065.0   1069.0   1073.0   1076.0   1079.0   1082.0   1085.0   1088.0   1091.0   1095.0   1099.0   1103.0   1108.0   1113.0   1117.0   1122.0   1127.0   1131.0   1136.0   1140.0   1145.0   1150.0   1155.0   1160.0   1164.0   1169.0   1174.0   1178.0   1182.0   1186.0   1190.0   1193.0   1197.0   1200.0   1203.0   1206.0   1209.0   1212.0   1215.0   1219.0   1224.0   1228.0   1233.0   1239.0   1244.0   1250.0   1257.0   1263.0   1270.0   1277.0   1284.0   1290.0   1297.0   1304.0   1311.0   1318.0   1325.0   1332.0   1339.0   1345.0

## Import Nashville Open Data

In [56]:
# https://data.nashville.gov/Licenses-Permits/Residential-Short-Term-Rental-Permits/2z82-v8pm
# SHORT TERM RENTALS
str_permits = pd.read_csv('../data/Residential_Short_Term_Rental_Permits.csv')

In [57]:
str_permits.head()

     Permit #          Applicant Applicant Home Phone Applicant Mobile Phone Applicant Work Phone Applicant Work Phone Ext.              Contact Contact Home Phone Contact Mobile Phone Contact Work Phone Contact Work Phone Ext.              Permit Subtype Description Permit Status          Parcel            Date Entered             Date Issued         Expiration Date               Address            City State    ZIP                    Subdivision / Lot                                            Purpose            Permit Owner Name     Permit Owner Addr. 1   Permit Owner Addr. 2 Permit Owner Addr. 3 Permit Owner City Permit Owner State Permit Owner ZIP Permit Type Permit Subtype  Council District  Census Tract                                    Mapped Location
0  2016031444                NaN                  NaN                    NaN                  NaN                       NaN        Andrew Hansen                NaN         914-646-6002                NaN                     NaN  Short Term Rental - Non-Owner Occupied        ISSUED     08314019100  06/24/2016 12:00:00 AM  07/29/2016 12:00:00 AM  07/21/2021 12:00:00 AM      1617  LILLIAN ST       NASHVILLE    TN  37206          LOT 316 EDGEFIELD LAND CO 2  By making this application for a Residential S...      HANSEN, ANDREW & ANDREA  HANSEN, ANDREW & ANDREA        1617 LILLIAN ST                  NaN         NASHVILLE                 TN            37206        CASR      CAZ10A002               6.0      37012200  1617 LILLIAN ST\nNASHVILLE, TN 37206\n(36.1722...
1  2016028278        john briggs                  NaN                    NaN                  NaN                       NaN          john briggs                NaN                  NaN       615-714-7761                     NaN  Short Term Rental - Non-Owner Occupied       EXPIRED     13011010400  06/13/2016 12:00:00 AM  08/25/2016 12:00:00 AM  08/25/2020 12:00:00 AM       4517  BEACON DR       NASHVILLE    TN  37215      PT LOT 7 BLK S SEC 4 TYNE MEADE  By making this application for a Residential S...         BRIGGS, JOHN MAURICE                      NaN  2140 OLD HICKORY BLVD                  NaN         NASHVILLE                 TN            37215        CASR      CAZ10A002              34.0      37018601  4517 BEACON DR\nNASHVILLE, TN 37215\n(36.08734...
2  2016025269                NaN                  NaN                    NaN                  NaN                       NaN            ben dixon                NaN                  NaN         4086424169                     NaN      Short Term Rental - Owner Occupied       EXPIRED     14701017800  05/27/2016 12:00:00 AM  06/06/2016 12:00:00 AM  06/06/2020 12:00:00 AM      306  EDGEVIEW DR       NASHVILLE    TN  37211  LOT 214 SEC 1 REVISED CALDWELL HALL  By making this application for a Residential S...      DIXON, BENJAMIN & DEVON                      NaN        306 EDGEVIEW DR                  NaN         NASHVILLE                 TN            37211        CASR      CAZ10A001              26.0      37018902  306 EDGEVIEW DR\nNASHVILLE, TN 37211\n(36.0764...
3  2017032662                NaN                  NaN                    NaN                  NaN                       NaN  Charlotte Rosenbalm                NaN         615 210-1296                NaN                     NaN      Short Term Rental - Owner Occupied       EXPIRED     02508006800  05/17/2017 12:00:00 AM  06/06/2017 12:00:00 AM  06/06/2020 12:00:00 AM        221  SHEVEL DR  GOODLETTSVILLE    TN  37072           LOT 106 SEC 1 RANCHOOD EST  By making this application for a Type 1 Reside...      ROSENBALM, CHARLOTTE A.                      NaN          221 SHEVEL DR                  NaN    GOODLETTSVILLE                 TN            37072        CASR      CAZ10A001              10.0      37010301  221 SHEVEL DR\nGOODLETTSVILLE, TN 37072\n(36.3...
4  2019036294  Kenneth Greenberg                  NaN           615 714-6474                  NaN                       NaN    Kenneth Greenberg                NaN         615 714-6474                NaN                     NaN         Short Term Rental � Multifamily     CANCELLED  072050F00300CO  06/19/2019 12:00:00 AM  06/26/2019 12:00:00 AM  06/26/2021 12:00:00 AM  1027 E TRINITY LN  3       NASHVILLE    TN  37216        UNIT 3 TRINITY LANE TOWNHOMES  By making this application for a Residential S...  GREENBERG, KENNETH & ASHLEY                      NaN   1027 E TRINITY LN #3                  NaN         NASHVILLE                 TN            37216        CASR      CAZ10A003               5.0      37011200  1027 E TRINITY LN 3\nNASHVILLE, TN 37216\n(36....

In [58]:
# https://data.nashville.gov/Police/Metro-Nashville-Police-Department-Incidents/2u6v-ujjs
# CRIME
crime = pd.read_csv('../data/Metro_Nashville_Police_Department_Incidents.csv.crdownload')

In [59]:
crime.head()

      Primary Key  Incident Number Report Type Report Type Description Incident Status Code Incident Status Description Investigation Status       Incident Occurred       Incident Reported                         Incident Location  Latitude  Longitude  ZIP Code     RPA   Zone  Location Code      Location Description  Offense Number Offense NIBRS      Offense Description Weapon Primary Weapon Description  Victim Number  Domestic Related Victim Type        Victim Description Victim Gender Victim Race Victim Ethnicity Victim County Resident       Mapped Location
0  20210242949_11      20210242949           D              DISPATCHED                    U                   UNFOUNDED               Closed  05/01/2021 02:30:00 AM  05/02/2021 12:57:00 AM  4TH AVE N &AMP; BROADWAY & 100 4TH AVE N       NaN        NaN       NaN     NaN    NaN            3.0           BAR, NIGHT CLUB             1.0           740           POLICE INQUIRY             17               NONE              1             False           I  INDIVIDUAL (18 AND OVER)             F           U     Non-Hispanic                    NaN                   NaN
1  20210237359_11      20210237359           D              DISPATCHED                    O                        OPEN                 Open  04/27/2021 08:00:00 AM  04/28/2021 02:08:00 PM                               DIVISION ST     36.15     -86.78       NaN  4011.0  423.0           20.0       PARKING LOT, GARAGE             1.0           23F  BURGLARY- MOTOR VEHICLE             17               NONE              1             False           I  INDIVIDUAL (18 AND OVER)             M           W         Hispanic           NON RESIDENT  POINT (-86.78 36.15)
2  20210247521_11      20210247521           D              DISPATCHED                    O                        OPEN                 Open  05/03/2021 08:00:00 PM  05/03/2021 08:26:00 PM                              LAFAYETTE ST     36.15     -86.78       NaN  4025.0  423.0           54.0  Shelter-Mission/Homeless             1.0           13B             SIMPLE ASSLT             09   PERSONAL (HANDS)              1             False           I  INDIVIDUAL (18 AND OVER)             M           B     Non-Hispanic               RESIDENT  POINT (-86.78 36.15)
3  20210233024_11      20210233024           S                 SUSPECT                    O                        OPEN                 Open  04/25/2021 08:00:00 PM  04/26/2021 11:23:00 AM                                    DEW ST     36.17     -86.76       NaN     NaN    NaN           13.0      HIGHWAY, ROAD, ALLEY             1.0           240            VEHICLE THEFT             17               NONE              1             False           I  INDIVIDUAL (18 AND OVER)             F           B     Non-Hispanic               RESIDENT  POINT (-86.76 36.17)
4  20210248988_12      20210248988           D              DISPATCHED                    O                        OPEN                 Open  05/04/2021 03:07:00 PM  05/04/2021 04:26:00 PM                                SHELBY AVE     36.17     -86.75       NaN  1205.0  213.0           20.0       PARKING LOT, GARAGE             1.0           720   HARRASSMENT (NUISANCE)             17               NONE              2             False           I  INDIVIDUAL (18 AND OVER)             F           W     Non-Hispanic               RESIDENT  POINT (-86.75 36.17)

In [63]:
crime['Offense Description'].nunique()

451

In [61]:
crime['Offense Description'].value_counts(ascending=False).head(50)

POLICE INQUIRY                                             160143
BURGLARY- MOTOR VEHICLE                                     53992
SIMPLE ASSLT                                                53757
DAMAGE PROP - PRIVATE                                       43786
SHOPLIFTING                                                 36634
DRUG PARAPHERNALIA- UNLAWFUL USE                            27691
ASSAULT- FEAR OF BODILY INJURY                              26613
LOST PROPERTY                                               26277
LARC - FROM BLDG                                            25290
BURGLARY- AGGRAVATED                                        23469
FOUND PROPERTY                                              23022
RECOVERY, STOLEN PROPERTY                                   21478
WEAPON OFFENSE, CRIMINAL ATTEMPT                            20183
VEHICLE THEFT                                               17357
MARIJUANA - POSSESS                                         16194
ASSAULT- OFFENSIVE OR PROVOCATIVE CONTACT                   14892
POSSESSION OF A CONTROLLED SUBSTANCE                        14577
FRAUD -  ILLEG USE OF CREDIT CARDS                          14517
LARC - PARTS FROM VEH                                       13745
INTENTIONAL AGGRAVATED ASSAULT                              13491
ROBBERY                                                     13333
TRANSPORT                                                   12378
FRAUD - SWINDLE                                             10948
HARRASSMENT (NUISANCE)                                       9621
DAMAGE PROP - BUSINESS                                       8936
BURGL - FORCED ENTRY-NONRESID                                7635
THEFT OF PROPERTY- $500 OR LESS                              7395
CRIMINAL IMPERSONATION                                       5359
Assault, Aggravated - Deadly Weapon - Int/Kn                 5338
CONTEMPT - VIOLATION OF PROTECTION ORDER                     4874
THEFT OF PROPERTY- $1,000 OR >  BUT < $10,000                4559
ROBBERY, AGGRAVATED, HANDGUN                                 4177
DEATH NATURAL                                                3933
DRUGS, COCAINE, POSSESS                                      3624
AGGRAV ASSLT - NONFAMILY-GUN                                 2943
LARCENY - (FREE TEXT)                                        2777
EMBEZZLE - BUSINESS PROP                                     2753
SIMPLE ASSLT - STRANGULATION (NO LOSS OF CONSCIOUSNESS)      2640
AGGRAV ASSLT - NONFAMILY-WEAPON                              2583
BURGL - NO FORCED ENTRY-NONRESID                             2512
FRAUD - CONFIDENCE GAME                                      2341
LARC - POSTAL                                                2341
CIVIL CASE                                                   2293
FRAUD, CRIMINAL ATTEMPT                                      2006
THEFT OF PROPERTY- > $500 BUT < $1,000                       1995
FAMILY OFFENSE                                               1979
ACCIDENTAL INJURY                                            1945
OVERDOSE                                                     1944
CRIMINAL CONTEMPT-VIOLATION OF ORDER OF PROTECTION           1889
DISPENSE PRESCRIPTION DRUG, VOID REGIS. NUMBER               1861
Name: Offense Description, dtype: int64

In [62]:
crime['Victim County Resident'].value_counts(ascending=False).head(50)

RESIDENT        480315
NON RESIDENT     76819
UNKNOWN          36894
WORK TEST            1
Name: Victim County Resident, dtype: int64